#logga {
    float: left;
    height: 200px;
    width: 100%;
    background-image: url("../img/alber-einstein.png");
    background-size: 100% 400px;
    background-repeat: repeat;
}
#meny {
    float: left;
    height: 2000px;
    width: 10%;
    background-color: red;

}

#meyn img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

#meny ul {
     list-style-type: none;
     padding-top: 10px;
     padding-left: 10px;
}

#meny a {
    color: white;
    font-size: 20px;
    margin-top: 10px;

}

#du_ar_har {
    float: left;
    height:100px;
    width:90%;
    background-color: #00e0e6;
}
#innehall_har {
    float: left;
    height:1900px;
    width:90%;
    background-color:green;

}
